%h1 С чего начать?
%p
  Если вы работате не один, начните с
  = link_to 'приглашения', '#'
  коллег. Вместе вы сможете быстрее заполнять базу.
%p
  Далее
  = link_to 'добавьте', items_path
  ваши изделия, составные части и базовые изделия.
%p
  = link_to 'Планируйте', '#'
  ваше произвовдство