.jumbotron
  %h1 Производственный план
  %p Планируйте ваше производство онлайн. Забудьте про неудобный Excel и прочие страшные программы.
  %p Встречайте! Производственный план онлайн. Бесплатно!
  %p
    = link_to 'Начать работу', new_user_registration_path, class: 'btn btn-primary', role: :button
    или
    = link_to 'Войти', new_user_session_path, class: 'btn btn-default', role: :button