# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 40c81dcf09a269067d3b893fbf6cf3c8fb6db80b29904c709aedfc596285de00f6039e7859d383bac50eba67118d4d2583e50e620cb6c11583df1503f2cb9c8c

test:
  secret_key_base: ae2e8f4f03ccbfdaefbb384f69a2238e3762239043d02525d049b0e3c63f80b62807c140a1e5a600675e6562c86c300fe5714ce1d34d4129461feb8baade13e4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: ae2e8f4f03ccbfdaefbb384f69a2238e3762239043d02525d049b0e3c63f80b62807c140a1e5a600675e6562c86c300fe5714ce1d34d4129461feb8baade13e4
