%h1 Вас пригласили в проект #{@invite.account.name}
%p
  #{@invite.account.owner.name} пригласил вас участвовать в организации планирования производства в компании #{@invite.account.name}
  %br
  Для того, чтобы принять приглашение, пройдите по
  = link_to 'ссылке', [@invite]
  и закончите регистрацию.
