.row.nested-fields.form-inline
  = f.input :item_id, url: autocomplete_item_articul_items_path, as: :autocomplete, label: false, error: false, append_to: ".item_id"
  = f.hidden_field :item_id, class: 'item_id'
  = f.input :quantity, label: false, error: false, placeholder: Itemization.human_attribute_name(:quantity)
  = link_to_remove_association raw("<span class='glyphicon glyphicon-remove'></span>"), f
