.row.nested-fields.form-inline
  = f.input :item_id, collection: Item.for_account(account.id).where.not(id: @item.id).limit(10).map { |i| [i.name, i.id] }, label: false, error: false
  = f.input :quantity, label: false, error: false, placeholder: 'Количество'
  = link_to_remove_association raw("<span class='btn btn-danger'><span class='glyphicon glyphicon-remove'>Удалить</span></span>"), f
