.row.nested-fields.form-inline
  = f.input :item_id, collection: Item.for_account(account.id).where.not(id: @item.id).collect { |i| [i.name, i.id] }, label: false
  = f.input :quantity, label: false
  = link_to_remove_association raw("<span class='btn btn-danger'><span class='glyphicon glyphicon-remove'>Удалить</span></span>"), f




