%li.sort-tree{id: "list_#{category.id}"}
  .sort-tree__wrap
    %span.glyphicon.glyphicon-book
    = link_to category.name, [:edit, category]
    = link_to '×', [category], method: :delete, data: { confirm: t('delete_confirmation') }
  - if category.has_children?
    %ol= render partial: 'category', collection: category.children.order(:position), as: :category
