%h3 Типы категорий
%p
  Обычная категория
  %span.glyphicon.glyphicon-book
  предназначена для хранения покупных изделий.
  %br
  Порядок вывода номенклатуры определяется вручную (перетаскиванием).
%p
  Категория для сборок
  %span.glyphicon.glyphicon-folder-open
  предназначена для хранения производимых изделий.
  %br
  Порядок вывода номенклатуры определяется децимальным номером, в котором оставлены только цифры.
